name: GitHub Metrics

on:
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: DeveloperSarim
          template: classic
          base: header, activity
          plugin_languages: yes
